.sectionContainer {
  width: 300px;
  height: 330px;
  background-color: darkgray;
  margin: 10px;
  /* padding: 10px; */

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 30px;
}

.currentlyPlayingInfo {
  width: 300px;
}

.sectionImgContainer {
  width: 50px;
  height: 50px;
  background-color: blueviolet;
  margin: 10px;
}

.sectionSongBox {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;

  width: 450px;
  height: 280px;
  /* background-color: thistle; */
  overflow: scroll;
}

.sectionTitle {
  background-color: blue;
  width: 400px;
  line-height: 50px;
  border-radius: 30px 30px 0px 0px;
  /* margin: 10px; */
  text-align: center;
}
