.app {
  background-color: black;
  height: 100vh;
  color: #fefefe;
}
.loginDiv {
  color: #fefefe;
  width: 100vw;
  text-align: center;
  padding-top: 50px;
  font-size: 24px;
}

a {
  color: #fefefe;
}

button {
  background-color: green;
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  border: none;
}
button:hover {
  cursor: pointer;
}
